In [9]:
!pip install numpy
!pip install pandas

Requirement already satisfied (use --upgrade to upgrade): numpy in c:\anaconda31\lib\site-packages
Requirement already satisfied (use --upgrade to upgrade): pandas in c:\anaconda31\lib\site-packages
Requirement already satisfied (use --upgrade to upgrade): python-dateutil>=2 in c:\anaconda31\lib\site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): pytz>=2011k in c:\anaconda31\lib\site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7.0 in c:\anaconda31\lib\site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): six>=1.5 in c:\anaconda31\lib\site-packages (from python-dateutil>=2->pandas)

In [11]:
# !pip install seaborn

## 1. Importing a CSV file
- Make sure the file (e.g. credit_history_data.csv) is in the same directory as your notebook

In [14]:
import pandas as pd
# Load the dataset
dataFrame = pd.read_csv("credit_history_data.csv")

## 2. Viewing the First Rows: dataFrame.head()
- Purpose: Shows the first 5 rows of the Dataframe to get a quick glance at the data

In [22]:
dataFrame.head()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
0,1,56,148778,776,45753,18.59,0
1,2,69,82292,522,34551,15.85,0
2,3,46,43833,671,30947,22.65,0
3,4,32,24158,701,18894,15.62,0
4,5,60,82680,742,35001,13.01,0

## 2b. Viewing the Last Rows: dataFrame.tail()
- Purpose: Shows the last 5 rows of the Dataframe to get a quick glance at the data

In [28]:
dataFrame.tail()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
995,996,18,89768,775,49188,21.73,0
996,997,35,31122,602,24642,6.22,0
997,998,49,100559,417,47020,21.72,1
998,999,64,93543,460,24045,13.54,0
999,1000,66,103441,700,32397,11.65,0

## 3. Checking Basic Info: dataFrame.info()
- Purpose:
  - Shows column names
  - Data types (int, float, object, etc)
  - Number of non null values
- Memory usage
  - This helps verify that the data loaded correctly

In [30]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
Client_ID        1000 non-null int64
Age              1000 non-null int64
Annual_Income    1000 non-null int64
Credit_Score     1000 non-null int64
Loan_Amount      1000 non-null int64
Interest_Rate    1000 non-null float64
Default          1000 non-null int64
dtypes: float64(1), int64(6)
memory usage: 54.7 KB

## 4. Quick Statistics dataFrame.describe()
- Gives summary statistics (mean, sd, min/max, quartiles) for all numeric columns

In [31]:
dataFrame.describe()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000,1000.00000,1000.000000
mean,500.500000,49.857000,84025.798000,575.323000,23741.145,14.21031,0.167000
std,288.819436,18.114267,38902.016431,157.602383,14302.092,6.41649,0.373162
min,1.000000,18.000000,20055.000000,300.000000,597.000,2.51000,0.000000
25%,250.750000,35.000000,49108.000000,441.750000,11182.500,8.86250,0.000000
50%,500.500000,50.000000,83136.500000,580.500000,22613.500,14.47000,0.000000
75%,750.250000,66.000000,118287.250000,706.000000,35282.000,19.71250,0.000000
max,1000.000000,79.000000,149948.000000,849.000000,49937.000,24.99000,1.000000

### 5. Sorting Data
- sort by credit score (ascending)
- dataFrame.sort_values(by="Credit_Score).head()

- sort by annual income (descending)
- dataFrame.sort_values(by="Annual_Income",ascending=False).head()

In [40]:
dataFrame.sort_values(by="Loan_Amount").head()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
151,152,75,121570,381,597,3.86,0
763,764,72,51419,704,638,8.77,0
368,369,79,22219,592,641,2.86,0
333,334,20,66514,744,655,13.34,0
967,968,70,78053,520,659,19.72,0

In [41]:
dataFrame.sort_values(by="Loan_Amount",ascending=False).head()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
408,409,71,25951,633,49937,23.54,1
409,410,52,107388,810,49916,12.19,0
279,280,66,146394,301,49916,22.29,0
600,601,79,33224,466,49853,12.89,0
544,545,40,76942,338,49834,22.16,1

## 6. Filtering Data
- Filter clients with credit score above 700
- high_score = dataFrame[dataFrame["Credit_Score"] > 700]
- high_score.head()

In [45]:
high_score = dataFrame[dataFrame["Credit_Score"] > 700]
high_score.head()

,Client_ID,Age,Annual_Income,Credit_Score,Loan_Amount,Interest_Rate,Default
0,1,56,148778,776,45753,18.59,0
3,4,32,24158,701,18894,15.62,0
4,5,60,82680,742,35001,13.01,0
5,6,25,40309,789,30754,10.16,0
7,8,38,92474,825,49498,4.36,0