In [ ]:
"""
INTRODUCTION TO PYTHON FOR FINANCE
QUESTION 1 – STRING MANIPULATION
TOTAL: 20 MARKS
"""

In [ ]:
# PREDEFINED VARIABLES (DO NOT CHANGE)

In [1]:
customer_name = "john doe"
account_number = "acc-45892-zw"
transaction_type = "deposit"
branch_code = "harare-main"
amount = 1500

In [ ]:
# REQUIRED OUTPUT VARIABLES
# (DO NOT RENAME)

In [20]:
formatted_name = ""
clean_account_number = ""
transaction_code = ""
transaction_summary = ""

In [ ]:
# TASK A (5 MARKS)
# Convert customer_name to title case

In [23]:
formatted_name = customer_name.title()

In [ ]:
# TASK B (5 MARKS)
# Remove special characters from account_number

In [63]:
clean_account_number = account_number.replace("-","")

In [12]:
# TASK C (5 MARKS)
# Create transaction_code using:
# FIRST 3 letters of name (uppercase)
# LAST 4 digits of account
# FIRST 3 letters of transaction type (uppercase)

In [13]:
# TASK D (5 MARKS)
# Create transaction_summary sentence:
# "John Doe made a DEPOSIT of 1500 at HARARE-MAIN"

In [14]:
"""
QUESTION 2 – CALCULATIONS, LISTS & DICTIONARIES
TOTAL: 20 MARKS
"""

'\nQUESTION 2 – CALCULATIONS, LISTS & DICTIONARIES\nTOTAL: 20 MARKS\n'

In [15]:
# PREDEFINED DATA (DO NOT MODIFY)

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
daily_balances = {
    "ACC001": [1200, 1350, 1400, 1500, 1600],
    "ACC002": [5000, 4800, 4700, 4600, 4500],
    "ACC003": [300, 350, 400, 450, 500],
    "ACC004": [10000, 10000, 10200, 10400, 10600]
}

{'ACC001': [1200, 1350, 1400, 1500, 1600],
 'ACC002': [5000, 4800, 4700, 4600, 4500],
 'ACC003': [300, 350, 400, 450, 500],
 'ACC004': [10000, 10000, 10200, 10400, 10600]}

In [74]:
df = pd.DataFrame(daily_balances)
df

   ACC001  ACC002  ACC003  ACC004
0    1200    5000     300   10000
1    1350    4800     350   10000
2    1400    4700     400   10200
3    1500    4600     450   10400
4    1600    4500     500   10600

In [33]:
# REQUIRED VARIABLES (DO NOT RENAME)

In [34]:
average_balance = {}
highest_balance = {}
low_balance_accounts = []
overall_bank_balance = 0

In [35]:
# TASK A (6 MARKS)
# Calculate average balance per account

In [121]:
average_balance = df.describe()
average_balance

            ACC001       ACC002      ACC003        ACC004
count     5.000000     5.000000    5.000000      5.000000
mean   1410.000000  4720.000000  400.000000  10240.000000
std     151.657509   192.353841   79.056942    260.768096
min    1200.000000  4500.000000  300.000000  10000.000000
25%    1350.000000  4600.000000  350.000000  10000.000000
50%    1400.000000  4700.000000  400.000000  10200.000000
75%    1500.000000  4800.000000  450.000000  10400.000000
max    1600.000000  5000.000000  500.000000  10600.000000

In [29]:
# TASK B (5 MARKS)
# Find highest balance per account

In [122]:
highest_balance = df.max()
highest_balance

ACC001     1600
ACC002     5000
ACC003      500
ACC004    10600
dtype: int64

In [ ]:
# TASK C (5 MARKS)
# Identify accounts with average balance < 1000

In [123]:
low_balance_accounts = df.mean() < 1000
low_balance_accounts

ACC001    False
ACC002    False
ACC003     True
ACC004    False
dtype: bool

In [85]:
# TASK D (4 MARKS)
# Calculate total bank balance (latest balances only)

In [124]:
overall_bank_balance = df.iloc[4].sum()
overall_bank_balance

17200

In [93]:
"""
INTRODUCTION TO PYTHON FOR FINANCE
QUESTION 3 – IF STATEMENTS & LOOPS
TOTAL: 20 MARKS
"""

'\nINTRODUCTION TO PYTHON FOR FINANCE\nQUESTION 3 – IF STATEMENTS & LOOPS\nTOTAL: 20 MARKS\n'

In [94]:
# PREDEFINED DATA (DO NOT MODIFY)

In [95]:
accounts = {
    "ACC001": [1200, 1350, 1400, 1500, 1600],
    "ACC002": [5000, 4800, 4700, 4600, 4500],
    "ACC003": [300, 350, 400, 450, 500],
    "ACC004": [10000, 10000, 10200, 10400, 10600]
}

interest_rate = 0.05

In [101]:
DF = pd.DataFrame(accounts)
DF

   ACC001  ACC002  ACC003  ACC004
0    1200    5000     300   10000
1    1350    4800     350   10000
2    1400    4700     400   10200
3    1500    4600     450   10400
4    1600    4500     500   10600

In [96]:
# REQUIRED VARIABLES (DO NOT RENAME)

In [97]:
final_balances = {}
interest_earned = {}
high_risk_accounts = []
months_to_target = {}

In [98]:
# TASK A (6 MARKS)
# Use a FOR loop to calculate:
# - Final balance
# - Interest earned

In [111]:
for balance in accounts:
    final_balance = DF.sum().sum()
print (final_balance)

83850

In [119]:
for final_balance in accounts:
    interest_earned = DF.sum().sum() * interest_rate
    print (interest_earned)

4192.5
4192.5
4192.5
4192.5

In [112]:
# TASK B (6 MARKS)
# Use IF statements:
# Final balance < 1000 → High Risk

In [116]:
final_balance = DF.sum().sum()
if final_balance < 1000 :
    print("High Risk")

In [117]:
# TASK C (4 MARKS)
# FOR loop:
# Months taken to reach 5000
# If never reached → -1

In [ ]:
for value in accounts :
    if